{% load static %}
{% block content %}
<div class="tab-pane fade" id="cataract">
    <br>
    <br>
    <div class="row">
      <div class="col-6">
        <h3 class="mt-4 text-klinkx">Cataract Surgery - Restoring Clarity to Your Vision</h3>
        <p>
          Cataract surgery is a safe and effective procedure to remove the cloudy lens (cataract) from the eye and replace it with an intraocular lens (IOL). This outpatient procedure can significantly improve vision and reduce the impact of cataract-related vision loss.
        </p>
        <p>Cataract surgery is a procedure to remove the lens of your eye when it becomes cloudy, which usually results from aging. This condition, known as a cataract, can lead to blurry vision and difficulty with daily activities such as reading or driving at night. Cataract surgery aims to restore your vision by replacing the cloudy lens with an artificial one.</p>
        
        <h4 class="mt-3 text-klinkx">Cataract Surgery Procedure</h4>
        <p>Cataract surgery is usually performed under local anesthesia. The most common technique used is phacoemulsification. A small incision is made in the eye, through which an ultrasound probe is inserted to break down the cloudy lens. The fragments are then vacuumed out. The back membrane of the lens (the posterior capsule) is left in place.</p>
        <ul class="list-unstyled">
          <li><i class="fas fa-check text-success me-2"></i>Small incision phacoemulsification technique.</li>
          <li><i class="fas fa-check text-success me-2"></i>Removal of the cloudy cataract.</li>
          <li><i class="fas fa-check text-success me-2"></i>Implantation of an artificial intraocular lens (IOL).</li>
          <li><i class="fas fa-check text-success me-2"></i>Painless and quick procedure.</li>
          <li><i class="fas fa-check text-success me-2"></i>Rapid recovery and improved vision.</li>
        </ul>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/eye_surgery/eye-caract-1.jpg' %}" alt="">
        </div>
      </div>
    </div>

    <h4 class="mt-3 text-klinkx">Preoperative Evaluation</h4>
    <p>Before the surgery, the ophthalmologist will perform a thorough eye examination. This includes an evaluation of your overall eye health, measurement of your visual acuity, and corneal topography. They will also assess the lens status and measure the eye to determine the power of the artificial lens (intraocular lens or IOL) that will replace the cataractous lens.</p>

    <h4 class="mt-3 text-klinkx">Intraocular Lens Implantation</h4>
    <p>Following removal of the cataract, an artificial lens, known as an intraocular lens (IOL), is implanted into the eye. This IOL stays in the eye permanently. There are different types of IOLs available, including monofocal, multifocal, and toric, each with its advantages and best-suited circumstances.</p>


    <div class="row">
      <div class="col-6">
        <h4 class="mt-3 text-klinkx">Postoperative Care</h4>
        <p>After surgery, you'll need to use prescribed eye drops to prevent inflammation and infection. There will be several follow-up visits to ensure proper healing. It's common to experience blurry vision and discomfort in the eye for a few days. Most people, however, can return to their normal activities within a day or two.</p>
    
        <h4 class="mt-3 text-klinkx">Risks and Complications</h4>
        <p>Like all surgeries, cataract surgery has potential risks and complications. These include infection, inflammation, bleeding, swelling, retinal detachment, and vision changes. However, cataract surgery is considered a safe procedure and severe complications are rare.</p>
    
        <h4 class="mt-3 text-klinkx">Outcomes and Expectations</h4>
        <p>Most people notice improved vision within a few days of surgery. Glasses may still be required, especially for reading or near vision, depending on the type of IOL that is used. It is important to have realistic expectations as some people might experience glare, halos, or other visual disturbances, particularly in low light conditions.</p>
    
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded align-self-end d-none w-100 d-lg-block" src="{% static 'img/eye_surgery/eye-caract-2.jpg' %}" alt="">
        </div>
      </div>
    </div>



    <div class="row g-5">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
        <h4 class="mt-3 text-klinkx">Frequently Asked Questions about Cataract surgery</h4>
        <div class="accordion" id="faqAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Is cataract surgery painful?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Most people do not find cataract surgery to be painful. The procedure is typically performed under local anesthesia, which numbs the area around the eye. You may feel some pressure or mild discomfort, but not pain.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How long does it take to recover from cataract surgery?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Most patients notice an improvement in their vision within a few days of the procedure. However, full healing can take several weeks. It's crucial to follow your doctor's instructions during this period to avoid complications.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Will I still need glasses after cataract surgery?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Whether or not you will need glasses after surgery depends on the type of intraocular lens used and your personal vision goals. Some patients still need glasses for certain activities like reading or driving.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can cataracts come back after surgery?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                After a cataract has been removed, it cannot come back. However, some people may experience clouding of the capsule that holds the IOL, also known as a secondary cataract or posterior capsule opacification. This condition can be easily treated with a laser procedure.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What are the alternatives to cataract surgery?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Cataract surgery is the only way to effectively treat cataracts. Early in the development of a cataract, better lighting and stronger eyeglasses can help manage vision problems. However, as the cataract progresses, these measures become less effective.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock %}