{% extends 'base.html' %}
{% load static %}

{% block title %}KlinikX - Eye Treatments{% endblock %}

{% block meta_description %}
Discover advanced eye treatments including LASIK, SMILE, PRK, and cataract surgery. Our skilled eye surgeons and state-of-the-art facility ensure precise and safe procedures for vision correction. Explore our pricing packages and personalized treatment options for a clearer vision and improved eye health.
{% endblock %}

{% block meta_keywords %}
eye treatments, LASIK, SMILE, PRK, cataract surgery, vision correction, eye surgery, eye clinic, eye treatment cost, eye surgery clinic
{% endblock %}


{% block header %}
<div class="container container-md-fluid nav-breadcrumb">
    <div class="row ">
        <div class="col-auto col-md-12">
            <nav aria-label="breadcrumb " class="first col-auto" >
                <ol class="breadcrumb indigo lighten-6 first-1 shadow-lg  ">
                    <li class="breadcrumb-item font-weight-bold"><span style="color:black !important;">KlinikX</span><img class="ml-md-3" src="{% static 'img/double-right.png' %}" width="20" height="20"></li>
                    <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase  " href="{% url 'index' %}"><span style="color:black !important;"  >home</span></a><img class="ml-md-3" src="{% static 'img/double-right.png' %}" width="20" height="20"> </li>
                    <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase  " href="{% url 'services' %}"><span style="color:black !important;"  >Services</span></a><img class="ml-md-3" src="{% static 'img/double-right.png' %}" width="20" height="20"> </li>
                    <li class="breadcrumb-item font-weight-bold mr-0 pr-0"><a class="black-text active-1" href="{% url 'eye_surgery' %}"><span >Eye Surgery</span></a> </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

<div class="container-xxl py-3">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    </div>
    <ul class="nav nav-tabs nav-fill custom-nav-styled mb-3">
      <li class="nav-item">
        <a class="nav-link active text-uppercase" data-bs-toggle="pill" href="#lasik">LASIK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" data-bs-toggle="pill" href="#smile">SMILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" data-bs-toggle="pill" href="#prk">PRK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" data-bs-toggle="pill" href="#cataract">Cataract Surgery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" data-bs-toggle="pill" href="#eye_pricing">Pricing</a>
      </li>
      <!-- Add more nav-items with nav-links for additional tabs as needed -->
    </ul>

    <div class="tab-content">
      {% include 'frontend/services/eye_surgery/lasik.html' %}
      {% include 'frontend/services/eye_surgery/smile.html' %}
      {% include 'frontend/services/eye_surgery/prk.html' %}
      {% include 'frontend/services/eye_surgery/cataract.html' %}
      {% include 'frontend/services/eye_surgery/pricing.html' %}
    </div>
  </div>
</div>

{% endblock %}