{% load static %}
{% block content %}
<div class="tab-pane fade" id="prk">
    <br>
    <br>
    <div class="row">
      <div class="col-6">
        <h3 class="mt-4 text-klinkx">PRK - Surface Ablation for Vision Correction</h3>
        <p>
          PRK (Photorefractive Keratectomy) is a surface ablation laser eye surgery used to correct myopia, hyperopia, and astigmatism. The procedure involves removing the outer layer of the cornea (epithelium) and reshaping the cornea using an excimer laser to improve vision.
        </p>
        <p>Photorefractive Keratectomy (PRK) is a refractive eye surgery procedure designed to correct vision problems such as nearsightedness, farsightedness, and astigmatism. It is considered one of the earliest forms of laser vision correction and has been used successfully for several decades.</p>
        <h4 class="mt-3 text-klinkx">PRK Procedure</h4>
        <ul class="list-unstyled">
          <li><i class="fas fa-check text-success me-2"></i>Removal of the corneal epithelium.</li>
          <li><i class="fas fa-check text-success me-2"></i>Reshaping of the cornea using an excimer laser.</li>
          <li><i class="fas fa-check text-success me-2"></i>No corneal flap creation.</li>
          <li><i class="fas fa-check text-success me-2"></i>Suitable for patients with thinner corneas.</li>
        </ul>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/eye_surgery/eye-prk.jpg' %}" alt="">
        </div>
      </div>
    </div>

    <h4 class="mt-3 text-klinkx">How PRK Works</h4>
    <p>During PRK, the surgeon uses a laser to remove a thin layer of the cornea's surface epithelial cells. This allows the underlying cornea to be reshaped, which corrects the refractive errors causing vision problems. Unlike LASIK, PRK does not involve creating a corneal flap; instead, the protective epithelium is temporarily removed, promoting natural healing after the procedure.</p>

    <h4 class="mt-3 text-klinkx">Advantages of PRK</h4>
    <ul class="list-unstyled">
      <li><i class="fas fa-check text-klinkx me-2"></i>Less risk of flap-related complications.</li>
      <li><i class="fas fa-check text-klinkx me-2"></i>Preserves more corneal tissue.</li>
      <li><i class="fas fa-check text-klinkx me-2"></i>Suitable for patients with thin corneas or larger pupils.</li>
      <li><i class="fas fa-check text-klinkx me-2"></i>Low risk of dry eye after healing.</li>
    </ul>

    <h4 class="mt-3 text-klinkx">Candidate Selection</h4>
    <p>Candidates for PRK must have stable vision prescriptions and be in good overall eye health. Ideal candidates should not have certain conditions, such as severe dry eye or thin corneas, which may disqualify them from the procedure. A comprehensive eye examination and consultation with an eye surgeon are essential to determine a patient's eligibility.</p>
    

    <div class="row">
      <div class="col-6">
        
        <h4 class="mt-3 text-klinkx">Recovery and Healing Process</h4>
        <p>After PRK, patients may experience mild discomfort and sensitivity to light for a few days. The cornea's surface epithelial cells regenerate over time, leading to improved vision. It may take several weeks for vision to stabilize fully. During the recovery period, patients must follow their surgeon's instructions carefully and attend follow-up appointments.</p>
      
        <h4 class="mt-3 text-klinkx">Benefits and Advantages of PRK</h4>
        <p>PRK offers several advantages, such as no corneal flap creation, making it a suitable option for individuals with thin corneas or other corneal issues. The procedure is also less invasive than LASIK, with a reduced risk of certain complications associated with flap creation. Additionally, PRK can be an excellent alternative for those not eligible for LASIK.</p>
        
        <h4 class="mt-3 text-klinkx">Potential Risks and Side Effects</h4>
        <p>As with any surgical procedure, PRK carries some risks. These may include temporary light sensitivity, dry eyes, halos, glare, and mild discomfort during the healing phase. In rare cases, more severe complications, such as infection or corneal haze, may occur, but they are infrequent and usually treatable.</p>

        <h4 class="mt-3 text-klinkx">Comparing PRK to Other Vision Correction Procedures</h4>
        <p>PRK, LASIK, and other vision correction procedures have unique benefits and considerations. While PRK lacks the immediate visual recovery of LASIK due to the absence of a corneal flap, it may be preferred for certain patients based on their individual eye characteristics and health.</p>
    
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded align-self-end d-none w-100 d-lg-block" src="{% static 'img/eye_surgery/eye-prk-2.jpg' %}" alt="">
        </div>
      </div>
    </div>

    
    
    <div class="row g-5">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
        <h4 class="mt-3 text-klinkx">Frequently Asked Questions about PRK</h4>
        <div class="accordion" id="faqAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How long does the PRK procedure take?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                The PRK procedure itself usually takes only about 5 to 15 minutes per eye. However, patients should expect to spend some additional time at the surgical facility for pre-operative preparations and post-operative monitoring.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Is PRK painful?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                During the PRK procedure, the eye is numbed using anesthetic eye drops, so patients typically do not feel any pain or discomfort. However, some individuals may experience mild discomfort or a gritty sensation in the eyes during the initial healing phase after the surgery. Your surgeon may prescribe pain medication or recommend artificial tears to alleviate any discomfort.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What is the typical recovery period after PRK?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                The initial healing period after PRK usually takes about 3 to 7 days. During this time, patients may experience blurred vision, light sensitivity, and mild eye irritation. However, it may take several weeks or even a few months for vision to stabilize fully and achieve the best possible results.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can I expect 20/20 vision after PRK?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Many patients experience significant vision improvement after PRK, and a majority achieve 20/20 vision or better. However, individual results may vary, and some patients may still require glasses or contact lenses for specific tasks, such as reading or night driving.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Are there any specific activities to avoid during the healing phase after PRK?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Yes, patients should avoid rubbing their eyes and participating in activities that could potentially cause eye trauma during the healing phase. It's also essential to avoid swimming and any activities that expose the eyes to dust, dirt, or other irritants. Additionally, your surgeon may advise you to take a break from certain sports and exercises until your eyes have fully healed. Always follow your surgeon's post-operative instructions to ensure a smooth recovery and optimal results.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>
{% endblock %}