{% load static %}
{% block content %}
<div class="tab-pane fade" id="smile">
    <br>
    <br>
    <div class="row">
      <div class="col-6">
        <h3 class="mt-4 text-klinkx">SMILE - Minimally Invasive Vision Correction</h3>
        <p>
          SMILE (Small Incision Lenticule Extraction) is a minimally invasive and flapless laser eye surgery used to treat myopia (nearsightedness) and astigmatism. The procedure involves creating a small, precise lenticule inside the cornea, which is then removed to reshape the cornea and correct the refractive error.
        </p>
        <h4 class="mt-3 text-klinkx">SMILE Procedure</h4>
        <ul class="list-unstyled">
          <li><i class="fas fa-check text-success me-2"></i>Creation of a small lenticule inside the cornea using a femtosecond laser.</li>
          <li><i class="fas fa-check text-success me-2"></i>Removal of the lenticule through a small incision, reshaping the cornea.</li>
          <li><i class="fas fa-check text-success me-2"></i>Flapless and minimally invasive procedure.</li>
          <li><i class="fas fa-check text-success me-2"></i>Quick and comfortable recovery.</li>
          <li><i class="fas fa-check text-success me-2"></i>Effective vision correction.</li>
        </ul>
        <h4 class="mt-3 text-klinkx">Advantages of SMILE</h4>
        <ul class="list-unstyled">
          <li><i class="fas fa-check text-klinkx me-2"></i>Minimally invasive with a small incision.</li>
          <li><i class="fas fa-check text-klinkx me-2"></i>Less disruption to corneal nerves, reducing dry eye symptoms.</li>
          <li><i class="fas fa-check text-klinkx me-2"></i>Rapid visual recovery.</li>
          <li><i class="fas fa-check text-klinkx me-2"></i>Less risk of corneal ectasia.</li>
        </ul>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/eye_surgery/eye_surgery-6.jpg' %}" alt="">
        </div>
      </div>
    </div>

    

    <h4 class="mt-3 text-klinkx">The SMILE Procedure</h4>
    <p>TIn the SMILE procedure, a femtosecond laser is used to create a small disc-shaped piece of tissue (lenticule) within the cornea. This lenticule is then removed through a small incision in the surface of the cornea. By removing this lenticule, the cornea is reshaped, correcting the way it refracts light and thus improving vision.</p>

    <div class="row">
      <div class="col-6">
        <h4 class="mt-3 text-klinkx">Candidate Suitability for SMILE</h4>
        <p>Candidates for SMILE surgery should be at least 22 years old with a stable eyeglass prescription for at least one year. They should have moderate to high myopia, with or without astigmatism. SMILE may not be suitable for individuals with certain eye or health conditions that could impact healing, such as severe dry eye, glaucoma, or autoimmune diseases. A thorough eye examination is required to evaluate suitability for the procedure.</p>
    
        <h4 class="mt-3 text-klinkx">Potential Risks and Side Effects of SMILE</h4>
        <p>Like all surgical procedures, SMILE involves some risks and potential side effects. These may include dry eyes, glare, light sensitivity, and seeing halos around lights. In rare cases, the need for a second surgery (enhancement procedure) might arise if the desired vision correction is not achieved. However, serious complications are relatively rare and most side effects are typically temporary and diminish over time.</p>
    
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded align-self-end d-none w-100 d-lg-block" src="{% static 'img/eye_surgery/eye-smile.jpg' %}" alt="">
        </div>
      </div>
    </div>

    
    <h4 class="mt-3 text-klinkx">Post-Operative Care and Recovery</h4>
    <p>Post-operative care after SMILE is crucial for successful healing and optimal vision correction. It involves using prescribed eye drops, wearing protective eyewear to prevent rubbing or pressure, and attending follow-up appointments to monitor healing. The majority of patients experience a quick recovery, with noticeable vision improvement within a few days.</p>

    <h4 class="mt-3 text-klinkx">Comparing SMILE with Other Corrective Eye Surgeries</h4>
    <p>Although SMILE is a relatively new entrant in the field of refractive surgery, it has been favorably compared to established procedures such as LASIK and PRK. Its minimally invasive approach reduces certain risks associated with LASIK, like flap-related complications, and tends to result in less postoperative dryness than both LASIK and PRK. However, the best procedure for any given individual depends on a variety of factors, including their specific vision problems, lifestyle, and overall eye health.</p>

    <h4 class="mt-3 text-klinkx">Future Developments in SMILE Technology</h4>
    <p>Advances in refractive surgery continue to improve outcomes for patients, and SMILE is at the forefront of these developments. The potential future of SMILE includes its application for the correction of higher degrees of astigmatism and hyperopia (farsightedness). Ongoing research and clinical trials are expected to further expand the use and capabilities of the SMILE procedure.</p>


    <div class="row g-5">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
        <h4 class="mt-3 text-klinkx">Frequently Asked Questions about SMILE</h4>
        <div class="accordion" id="faqAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Who is a good candidate for SMILE?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                A good candidate for SMILE should be over 22 years old, have stable vision for at least one year, and should not have any health issues that could interfere with the healing process, such as autoimmune diseases or diabetes. They should also have a diagnosis of myopia or astigmatism within a certain range.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Is SMILE painful?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Most patients report little to no pain during the SMILE procedure. Anesthetic eye drops are used to numb the eyes before the surgery. Some patients may feel pressure or a mild discomfort during the procedure, but severe pain is not common.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What is the recovery period like after SMILE?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Most patients notice an improvement in vision immediately after the procedure, but full visual recovery can take a few days to a few weeks. The recovery period is typically shorter than that of other refractive surgeries such as LASIK or PRK.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can SMILE fix astigmatism?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                YYes, SMILE can correct astigmatism. The procedure reshapes the cornea to correct the uneven curvature that causes astigmatism, which results in improved vision.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Does SMILE provide permanent results?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                The effects of SMILE are considered permanent because the procedure changes the shape of the cornea. However, it's important to note that it doesn't prevent the natural aging process or related conditions such as presbyopia or cataracts. These can still occur as a person ages.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}