<!-- Footer Start -->
<div
    class="container-fluid bg-klinkx text-light footer mt-5 pt-5 wow fadeIn"
    data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Address</h5>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt me-3"></i>{{address}}
                </p>
                <p class="mb-2">
                    <i class="fa fa-phone me-3"></i>{{phone_number}}
                </p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>{{email}}</p>
                <div class="d-flex pt-2">
                    <a
                        class="btn btn-outline-light btn-social rounded-circle"
                        href="{{twitter}}"
                        target="_blank"
                        ><i class="fab fa-twitter"></i
                    ></a>
                    <a
                        class="btn btn-outline-light btn-social rounded-circle"
                        href="{{facebook}}"
                        target="_blank"
                        ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a
                        class="btn btn-outline-light btn-social rounded-circle"
                        href="{{youtube}}"
                        target="_blank"
                        ><i class="fab fa-youtube"></i
                    ></a>
                    <a
                        class="btn btn-outline-light btn-social rounded-circle"
                        href="{{instagram}}"
                        target="_blank"
                        ><i class="fab fa-instagram"></i
                    ></a>
                    <a
                        class="btn btn-outline-light btn-social rounded-circle"
                        href="{{snapchat}}"
                        target="_blank"
                        ><i class="fab fa-snapchat"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Services</h5>
                <a
                    class="btn btn-link footer-link"
                    href="{% url 'hair_transplant' %}"
                    >Hair Transplant</a
                >
                <a class="btn btn-link" href="{% url 'dental' %}"
                    >Dental Treatments</a
                >
                <a class="btn btn-link" href="{% url 'cosmetic' %}"
                    >Cosmetic Surgery</a
                >
                <a class="btn btn-link" href="{% url 'eye_surgery' %}"
                    >Eye Treatments</a
                >
                <a class="btn btn-link" href="{% url 'art' %}"
                    >Assisted Reproductive Technology</a
                >
                <a class="btn btn-link" href="{% url 'plastic' %}"
                    >Plastic Surgery</a
                >
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'contact' %}"
                    >Contact Us</a
                >
                <a class="btn btn-link" href="{% url 'services' %}"
                    >Our Services</a
                >
                <!--<a class="btn btn-link" href="{% url 'terms_and_conditions' %}">Terms & Condition</a>-->
                <a class="btn btn-link" href="{% url 'privacy' %}">Privacy</a>
                <!--<a class="btn btn-link" href="{% url 'faq' %}">FAQ</a>-->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
                    <p class="text-center">
                        klinikX &copy; {{year}} All Right Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a
    href="#"
    class="btn btn-lg btn-klinkx btn-lg-square rounded-circle back-to-top">
    <i class="bi bi-arrow-up"></i>
</a>

<!-- <button id="openChatbotBtn" class="btn btn-primary chat-btn">Open Chatbot</button> -->
<!-- <a    
    class="btn btn-lg bg-info btn-lg-square rounded-circle chat-btn">
    <i class="bi bi-chat"></i>
    <i class="bi bi-x-lg"></i>
</a> -->

