{% extends 'base.html' %}
{% load static %}

{% block title %}KlinikX - Assisted Reproductive Technology{% endblock %}

{% block meta_description %}
Experience advanced assisted reproductive technology treatments at KlinikX. We offer IVF, IUI, and ICSI procedures with our experienced fertility specialists and state-of-the-art facilities, providing hope for starting or expanding your family.
{% endblock %}

{% block meta_keywords %}
IVF, IUI, ICSI, assisted reproductive technology, fertility treatments, fertility clinic, infertility treatments, reproductive health, fertility specialists, fertility procedures
{% endblock %}


{% block header %}
<div class="container container-md-fluid nav-breadcrumb">
    <div class="row ">
        <div class="col-auto col-md-12">
            <nav aria-label="breadcrumb " class="first col-auto" >
                <ol class="breadcrumb indigo lighten-6 first-1 shadow-lg  ">
                    <li class="breadcrumb-item font-weight-bold"><span style="color:black !important;">KlinikX</span><img class="ml-md-3" src="{% static 'img/double-right.png' %}" width="20" height="20"></li>
                    <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase  " href="{% url 'index' %}"><span style="color:black !important;"  >home</span></a><img class="ml-md-3" src="{% static 'img/double-right.png' %}" width="20" height="20"> </li>
                    <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase  " href="{% url 'services' %}"><span style="color:black !important;"  >Services</span></a><img class="ml-md-3" src="{% static 'img/double-right.png' %}" width="20" height="20"> </li>
                    <li class="breadcrumb-item font-weight-bold mr-0 pr-0"><a class="black-text active-1" href="{% url 'art' %}"><span >Assisted Reproductive Technology</span></a> </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-xxl py-3">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      
    </div>
    <ul class="nav nav-tabs nav-fill custom-nav-styled mb-3">
      <li class="nav-item">
        <a class="nav-link active text-uppercase" data-bs-toggle="pill" href="#ivf">In Vitro Fertilization (IVF)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" data-bs-toggle="pill" href="#iui">Intrauterine Insemination (IUI)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" data-bs-toggle="pill" href="#icsi">Intracytoplasmic Sperm Injection (ICSI)</a>
      </li>
      <!-- Add more nav-items with nav-links for additional tabs as needed -->
    </ul>

    <div class="tab-content">
      <!-- IVF Tab -->
      {% include 'frontend/services/art/ivf.html' %}
      <!-- IUI Tab -->
      {% include 'frontend/services/art/iui.html' %}  
      <!-- ICSI Tab -->
      {% include 'frontend/services/art/icsi.html' %}  
      <!-- Add more include statements for additional tabs as needed -->
    </div>
  </div>
</div>

{% endblock %}
