{% load static %}
{% block content %}

<div class="tab-pane fade" id="icsi">
  <br>
    <br>
    <div class="row">
      <div class="col-6">
        <h3 class="mt-4 text-klinkx">Intracytoplasmic Sperm Injection (ICSI): Assisted Reproductive Technology</h3>
        <p>
          Intracytoplasmic sperm injection (ICSI) is an assisted reproductive technique used in conjunction with in vitro fertilization (IVF) to help couples with certain types of infertility problems. In ICSI, a single sperm is injected directly into a mature egg to facilitate fertilization.
        </p>
        <h4 class="mt-3 text-klinkx">Is ICSI Right for You?</h4>
        <p>
          ICSI is typically recommended for couples experiencing male factor infertility, such as low sperm count, poor sperm motility, or abnormal sperm morphology. It may also be used in cases of previous IVF failure or when sperm retrieval procedures have been unsuccessful. Our fertility specialists at KlinikX will assess your specific situation to determine if ICSI is the appropriate treatment option.
        </p>
        <p>ICSI is most often used when there are significant male factor infertility issues, such as a very low sperm count, poor sperm movement (motility), or abnormal sperm shape (morphology). It can also be used if previous IVF attempts have failed or if frozen sperm are being used.</p>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/ivf/icsi.jpg' %}" alt="">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <h4 class="mt-3 text-klinkx">ICSI Procedure</h4>
        <p>The ICSI process is carried out in a laboratory and is part of the overall IVF process. It involves immobilizing a single sperm and then picking it up in a small, sharp glass needle. The needle is used to puncture the egg, and the sperm is then injected into the egg.</p>
        <ol class = "list-unstyled">
          <li><i class="fas fa-check text-success me-2"></i>Ovarian Stimulation: Fertility medications are administered to stimulate the ovaries to produce multiple mature eggs.</li>
          <li><i class="fas fa-check text-success me-2"></i>Egg Retrieval: The mature eggs are retrieved from the ovaries using a minimally invasive procedure.</li>
          <li><i class="fas fa-check text-success me-2"></i>Sperm Collection: A sperm sample is collected from the male partner or a donor.</li>
          <li><i class="fas fa-check text-success me-2"></i>ICSI: A single sperm is directly injected into each mature egg to achieve fertilization.</li>
          <li><i class="fas fa-check text-success me-2"></i>Embryo Culture: The resulting embryos are cultured and monitored for several days.</li>
          <li><i class="fas fa-check text-success me-2"></i>Embryo Transfer: Selected healthy embryos are transferred into the uterus.</li>
          <li><i class="fas fa-check text-success me-2"></i>Pregnancy Test: A pregnancy test is performed after a few weeks to check for pregnancy success.</li>
        </ol>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded align-self-end d-none w-100 d-lg-block" src="{% static 'img/ivf/icsi-2.jpg' %}" alt="">
        </div>
      </div>
    </div>

    <h4 class="mt-3 text-klinkx">Fertilization and Embryo Development</h4>
    <p>After the sperm is injected into the egg, the needle is carefully removed. The eggs are checked the following day for signs of normal fertilization. Once fertilization occurs, the embryo is allowed to develop in a laboratory for several days before being transferred into the woman's uterus.</p>

    <h4 class="mt-3 text-klinkx">Success Rates</h4>
    <p>The success rate for ICSI is generally quite high, as the technique bypasses many potential problems with the sperm reaching and fertilizing the egg. However, successful pregnancy still depends on other factors such as the quality of the eggs and the woman's age.</p>

    <h4 class="mt-3 text-klinkx">Risks and Complications</h4>
    <p>Risks associated with ICSI include a slightly increased risk of birth defects, particularly urogenital abnormalities. There's also a small risk that a male child conceived through ICSI will inherit his father's fertility problems. However, the overall risk is still quite low.</p>

    <h4 class="mt-3 text-klinkx">Ethical Considerations</h4>
    <p>ICSI has raised some ethical concerns. Some worry about the long-term health effects for children conceived via ICSI, and others bring up concerns about the potential for "designer babies" if this technology is combined with genetic testing or modification.</p>


    <div class="row g-5">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
        <h4 class="mt-3 text-klinkx">Frequently Asked Questions about Intracytoplasmic Sperm Injection (ICSI)</h4>
        <div class="accordion" id="faqAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Is ICSI more successful than IVF?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                ICSI can be more successful than conventional IVF when there are significant male factor infertility issues. However, for couples with other types of infertility, traditional IVF may be just as effective.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Does ICSI increase the chance of twins?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                The chance of having twins is related to the number of embryos transferred to the uterus, not the ICSI process itself. However, since ICSI is often used with IVF, there may be a higher chance of twins if more than one embryo is transferred.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can ICSI damage the egg?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                There is a small risk of damage to the egg during the ICSI process, but the vast majority of eggs survive the injection without any problems.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Is ICSI safe for the baby?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Most babies conceived via ICSI are healthy. However, there is a slightly increased risk of certain birth defects and genetic abnormalities with ICSI, though the absolute risk is still low.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What happens after ICSI?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                After ICSI, the fertilized egg (now an embryo) is allowed to grow in a laboratory for a few days. The best quality embryos are then transferred into the woman's uterus to implant and develop.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
