{% load static %}
{% block content %}

<div class="tab-pane fade active show" id="ivf">
    <br>
    <br>
    <div class="row">
      <div class="col-6">
        <h3 class="mt-4 text-klinkx">In Vitro Fertilization (IVF): Assisted Reproductive Technology</h3>
          <p>
            In Vitro Fertilization (IVF) is an advanced assisted reproductive technology that helps individuals and couples with fertility issues to conceive a child. IVF involves the fertilization of an egg with sperm outside the body in a laboratory setting. The resulting embryos are then carefully monitored and selected for transfer into the uterus to achieve pregnancy.
          </p>
          <p>In vitro fertilization (IVF) is a type of assisted reproductive technology (ART) that involves the extraction of eggs from a woman's ovaries, fertilization with sperm in a laboratory, and then transfer of the fertilized egg (embryo) into the woman's uterus with the aim of establishing a successful pregnancy.</p>

      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/ivf/ivf-2.jpg' %}" alt="">
        </div>
      </div>
    </div>

    <h4 class="mt-3 text-klinkx">Indications for IVF</h4>
    <p>IVF is used to treat a variety of infertility issues, including fallopian tube damage or blockage, ovulation disorders, endometriosis, uterine fibroids, genetic disorders, and unexplained infertility. It's also used when male factor infertility exists due to low sperm count or poor sperm quality.</p>

    <div class="row">
      <div class="col-6">
        <h4 class="mt-3 text-klinkx">IVF Procedure</h4>
        <p>IVF involves several steps, including ovarian stimulation, egg retrieval, sperm retrieval, fertilization, and embryo transfer. This process may take weeks and involves close monitoring of the woman's reproductive system through blood tests and ultrasound.</p>
        <ol class = "list-unstyled">
          <li><i class="fas fa-check text-success me-2"></i>Ovarian Stimulation: Fertility medications are administered to stimulate the ovaries to produce multiple mature eggs.</li>
          <li><i class="fas fa-check text-success me-2"></i>Egg Retrieval: The mature eggs are retrieved from the ovaries using a minimally invasive procedure.</li>
          <li><i class="fas fa-check text-success me-2"></i>Sperm Collection: A sperm sample is collected, either from the male partner or a donor.</li>
          <li><i class="fas fa-check text-success me-2"></i>Fertilization: The eggs and sperm are combined in a laboratory dish for fertilization.</li>
          <li><i class="fas fa-check text-success me-2"></i>Embryo Culture: The resulting embryos are cultured and monitored for several days.</li>
          <li><i class="fas fa-check text-success me-2"></i>Embryo Transfer: Selected healthy embryos are transferred into the uterus.</li>
          <li><i class="fas fa-check text-success me-2"></i>Pregnancy Test: A pregnancy test is performed after a few weeks to check for pregnancy success.</li>
        </ol>
      </div>
      <div class="col-6">
        <div class="d-flex flex-column">
          <img class=" rounded align-self-end d-none w-100 d-lg-block" src="{% static 'img/ivf/What-Is-In-Vitro-Fertilization-IVF.jpg' %}" alt="">
        </div>
      </div>
    </div>
    

    <h4 class="mt-3 text-klinkx">Ovarian Stimulation and Egg Retrieval</h4>
    <p>Ovarian stimulation involves the administration of hormones to stimulate the ovaries to produce multiple eggs. Once mature, these eggs are retrieved through a minor surgical procedure called follicular aspiration.</p>

    <h4 class="mt-3 text-klinkx">Fertilization and Embryo Culture</h4>
    <p>The retrieved eggs are combined with sperm in a lab to facilitate fertilization. If necessary, a single sperm may be directly injected into an egg in a process called intracytoplasmic sperm injection (ICSI). The fertilized eggs are then cultured for several days to monitor development.</p>

    <h4 class="mt-3 text-klinkx">Embryo Transfer</h4>
    <p>The best quality embryos are selected for transfer into the woman's uterus. This is typically a painless process that involves inserting a thin catheter through the cervix. Extra embryos can often be frozen and stored for future use.</p>

    

    <h4 class="mt-3 text-klinkx">Risks and Complications</h4>
        <p>Risks associated with IVF include multiple pregnancies, ovarian hyperstimulation syndrome, ectopic pregnancy, and birth defects. The procedure can also be emotionally and financially stressful.</p>
    
        <h4 class="mt-3 text-klinkx">Success Rates</h4>
        <p>The success rate of IVF depends on several factors, including age, cause of infertility, and lifestyle factors. While IVF has been improving in effectiveness, it's important to note that it may not be successful on the first attempt and may require multiple cycles.</p>
        

    <div class="row g-5">
      <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
        <h4 class="mt-3 text-klinkx">Frequently Asked Questions about In Vitro Fertilization (IVF)</h4>
        <div class="accordion" id="faqAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Is the IVF procedure painful?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Some women may experience mild discomfort during certain stages of the IVF process, such as egg retrieval. However, pain medications and sedatives are usually given to minimize discomfort.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How long does an IVF cycle take?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                An IVF cycle typically takes about four to six weeks from the start of medications to the pregnancy test following the embryo transfer.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can IVF be done after menopause?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                IVF can potentially be performed after menopause using donor eggs. However, it's important to consider the risks associated with pregnancy at an advanced age.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What is the success rate of IVF?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                IVF success rates vary depending on numerous factors such as age, cause of infertility, and the clinic performing the procedure. Younger women typically have higher success rates, often above 40%.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Are IVF babies as healthy as naturally conceived babies?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Most babies conceived through IVF are healthy. However, IVF may slightly increase the risk for certain birth defects and low birth weight. These risks are still relatively low overall and should be discussed with a fertility specialist.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
