{% load static %}
{% block content %}
<div class="tab-pane fade show active" id="dental_implants">
  <div class="container-xxl py-5">
    <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="col-6">
            <h4 class="mt-3 text-klinkx">What are Dental Implants?</h4>
            <p>
              Dental implants are a modern, durable, and highly effective solution for replacing missing or damaged teeth. They serve as artificial roots, providing a strong foundation for fixed or removable replacement teeth that are designed to match your natural teeth.
            </p>
            <h4 class="mt-3 text-klinkx">Types of Dental Implants</h4>
            <ul class = "list-unstyled">
              <li><i class="fas fa-check text-success me-2"></i>Endosteal Implants: These are placed directly into the jawbone and are the most commonly used type of implant.</li>
              <li><i class="fas fa-check text-success me-2"></i>Subperiosteal Implants: These sit on top of the jawbone but under the gum tissue, and are often used when the patient has insufficient healthy jawbone.</li>
              <li><i class="fas fa-check text-success me-2"></i>Zygomatic Implants: These are the least common type and are used when the jawbone isn't suitable for Endosteal implants.</li>
            </ul>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <img class="rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/dental/dental-5.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <h4 class="mt-3 text-klinkx">Procedure for Dental Implant Surgery</h4>
        <p>
          Dental implant surgery is a multi-step process that involves placing the implant into the jawbone, allowing healing time for osseointegration (fusion of the implant with the bone), and attaching the abutment and the artificial tooth. Each patient's surgery plan is unique and depends on the health of the jawbone and the type of implant used.
        </p>
        <h4 class="mt-3 text-klinkx">Benefits of Dental Implants</h4>
        <p>
          Dental implants have numerous advantages, including improved appearance, comfort, and speech, and the preservation of bone health. They are also durable and convenient, eliminating the need for messy adhesives and the nightly removal of dentures.
        </p>
        <h4 class="mt-3 text-klinkx">Potential Risks and Complications</h4>
        <p>
          Like any surgery, dental implant surgery carries some potential risks, such as infection, nerve damage, and sinus problems. However, these are rare and are typically minor and treatable.
        </p>

        <div class="row">
          <div class="col-6">
            <h4 class="mt-3 text-klinkx">Aftercare and Maintenance of Dental Implants</h4>
            <ul class = "list-unstyled">
              <li><i class="fas fa-check text-success me-2"></i>Regular brushing and flossing are key to maintaining dental implants.</li>
              <li><i class="fas fa-check text-success me-2"></i>Regular dental check-ups are crucial to monitor the implants and your overall oral health.</li>
              <li><i class="fas fa-check text-success me-2"></i>Avoiding hard food can prevent damage to the implant.</li>
              <li><i class="fas fa-check text-success me-2"></i>Avoiding tobacco can prevent implant failure and oral diseases.</li>
            </ul>
            <h4 class="mt-3 text-klinkx">Comparing Dental Implants to Other Tooth Replacement Options</h4>
            <p>
              Dental implants offer many advantages over other tooth replacement options, such as bridges and dentures. Unlike bridges, implants do not require the alteration of neighboring healthy teeth. Unlike dentures, implants are stable and comfortable without the need for adhesives.
            </p>
            <ul class="list-unstyled">
              <li><i class="fas fa-check text-success me-2"></i>Implants are more durable and have a longer lifespan than bridges and dentures.</li>
              <li><i class="fas fa-check text-success me-2"></i>Implants feel and function like natural teeth, offering superior comfort and ease of eating.</li>
              <li><i class="fas fa-check text-success me-2"></i>Implants stimulate and preserve bone, preventing bone loss that commonly occurs with bridges and dentures.</li>
              <li><i class="fas fa-check text-success me-2"></i>With implants, there's no risk of slipping or clicking sounds during speech or eating, which can occur with dentures.</li>
            </ul>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <img class=" rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/dental/dental-implant-1.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <h4 class="mt-3 text-klinkx">Advantages of Dental implants comparing to others methods</h4>
        <p>
          Dental implants have become increasingly popular due to their durability, longevity, and aesthetic appeal. Implants consist of a titanium post that is surgically implanted into the jawbone, which then serves as an anchor for a prosthetic tooth.
        </p>
        <ul class="list-unstyled">
          <li><i class="fas fa-check text-success me-2"></i>Durability and longevity: Dental implants are designed to last a lifetime when properly cared for, making them a long-term investment.</li>
          <li><i class="fas fa-check text-success me-2"></i>Natural look and feel: Implants are the closest replacement to natural teeth in terms of function and appearance.</li>
          <li><i class="fas fa-check text-success me-2"></i>Preserves bone health: Since the titanium post fuses with the jawbone, implants can help to prevent bone loss, a common issue following tooth extraction.</li>
        </ul>
        <div class="row g-5">
          <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
            <h4 class="mt-3 text-klinkx">Frequently Asked Questions about Dental Implants</h4>
            <div class="accordion" id="faqAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Are dental implants painful?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    Dental implant surgery is typically performed under local anesthesia, so you shouldn't feel any pain during the procedure. After the anesthesia wears off, some discomfort may be expected, but it can usually be managed with over-the-counter pain medication.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How long does it take to recover from dental implant surgery?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    The healing process varies for each individual and depends on various factors such as the number of implants placed, the person's general health, and whether a bone graft was needed. On average, it takes a few months for the jawbone to heal around the implant.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How long do dental implants last?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    With good oral hygiene and regular dental check-ups, dental implants can last a lifetime. The crown placed on the implant, however, typically lasts about 10-15 years before it may need replacement due to wear and tear.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
  {% endblock %}

