{% extends 'base.html' %}
{% block title %}
Terms & Conditions - KlinikX
{% endblock %}

{% block Content %}
<h1>Terms & Conditions</h1>

<p>
Welcome to the [Your Clinic Name]'s website (the 'Website') located at [Website URL]. Please read these terms and conditions ('Terms') carefully before using this Website.
</p>

<h2>Acceptance of Terms</h2>
<p>
By using our Website, you agree to comply with and be bound by these Terms. If you do not agree to these Terms, you may not access or use the Website.
</p>

<h2>Website Content</h2>
<p>
All content on this Website is for informational purposes only. The content is not intended to be a substitute for professional medical advice, diagnosis, or treatment.
</p>

<h2>Privacy</h2>
<p>
Your use of the Website is also subject to [Your Clinic Name]'s Privacy Policy. Please review our Privacy Policy, which also governs the Website and informs users of our data collection practices.
</p>

<h2>Changes to the Terms</h2>
<p>
[Your Clinic Name] reserves the right, in its sole discretion, to change the Terms under which the Website is offered. The most current version of the Terms will supersede all previous versions. [Your Clinic Name] encourages you to periodically review the Terms to stay informed of our updates.
</p>

<h2>Contact Us</h2>
<p>
If you have any questions regarding these Terms, the practices of this site, or your dealings with this site, please contact us at:
</p>
{% endblock %}