{% load static %}

<button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
    <header>
        <h2>Chatbot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Hi there 👋<br />How can I help you today?</p>
        </li>
    </ul>
    <div class="chat-input">
        <textarea
            placeholder="Enter a message..."
            spellcheck="false"
            required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
</div>

<!-- <div class="chat-main-bot">
    <div class="chatbot-container">
        <div class="card" id="chat1">
            <div
                class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                style="
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                ">
                <i class="fas fa-angle-left"></i>
                <p class="mb-0 fw-bold">Live chat</p>
                <a><i class="fas fa-times"></i></a>
            </div>
            <div class="card-body">
                <div class="d-flex flex-row justify-content-start mb-4">
                    <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                        alt="avatar 1"
                        style="width: 45px; height: 100%" />
                    <div
                        class="p-3 ms-3"
                        style="
                            border-radius: 15px;
                            background-color: rgba(57, 192, 237, 0.2);
                        ">
                        <p class="small mb-0">
                            Hi there 👋<br />How can I help you today?
                        </p>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-end mb-4">
                    <div
                        class="p-3 me-3 border"
                        style="border-radius: 15px; background-color: #fbfbfb">
                        <p class="small mb-0">
                            Thank you, I really like your product.
                        </p>
                    </div>
                    <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                        alt="avatar 1"
                        style="width: 45px; height: 100%" />
                </div>

                <div class="form-outline">
                    <textarea
                        class="form-control"
                        id="textAreaExample"
                        rows="4"></textarea>
                </div>
                <button class="btn bg-info mt-2">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <a class="btn btn-lg bg-info btn-lg-square rounded-circle chat-btn">
        <i class="bi bi-chat"></i>
        <i class="bi bi-x-lg"></i>
    </a>
</div> -->

<!-- <div class="chatbot-container">
    <div class="chatbot-toggler"></div>
    <div class="close-btn"></div>
    <div class="chatbox"></div>
    <div class="chat-input">
        <textarea></textarea>
        <span>Send</span>
    </div>
</div> -->
