{% load static %}

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5 d-flex flex-column">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                         <i class="fas fa-scissors fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Hair Transplant</h4>
                    <p class="flex-grow-1 mb-4">Restore confidence with our hair transplant solutions. Natural, long-lasting results. Explore transformative treatments today.</p>
                    <a class="btn" href="{% url 'hair_transplant' %}"><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5 d-flex flex-column">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-tooth fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Dental Treatment</h4>
                    <p class="flex-grow-1 mb-4">Achieve a radiant smile with comprehensive dental care. Expert team enhancing oral health. Discover our professional services.</p>
                    <a class="btn" href="{% url 'dental' %}"><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5 d-flex flex-column">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-syringe fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Cosmetic Surgery</h4>
                    <p class="flex-grow-1 mb-4">Elevate beauty naturally. Transform appearance with non-surgical procedures. Discover now.</p>
                    <a class="btn" href="{% url 'cosmetic' %}"><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5 d-flex flex-column">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-eye fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Eye Surgery</h4>
                    <p class="flex-grow-1 mb-4">Experience clear vision with advanced Lasik eye surgery. Bid farewell to glasses. Explore our professional treatments.</p>
                    <a class="btn" href="{% url 'eye_surgery' %}"><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5 d-flex flex-column">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-baby fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Assisted Reproductive Technology</h4>
                    <p class="flex-grow-1 mb-4">Fulfill your dreams of parenthood with leading IVF treatments. Advanced care for successful outcomes. Learn about our services.</p>
                    <a class="btn" href="{% url 'art' %}"><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5 d-flex flex-column">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        </i><i class="fas fa-user-doctor fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Plastic Surgery</h4>
                    <p class="flex-grow-1 mb-4">Enhance your beauty with cutting-edge plastic surgery. Transformative procedures for a rejuvenated appearance. Discover more now.</p>
                    <a class="btn" href="{% url 'plastic' %}"><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


{% comment %} {% load static %}
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
            <h1>Health Care Solutions</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                         <i class="fas fa-scissors fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Hair Transplant</h4>
                    <p class="mb-4">Restore confidence with our hair transplant solutions. Natural, long-lasting results. Explore transformative treatments today.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-tooth fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Dental Treatment</h4>
                    <p class="mb-4">Achieve a radiant smile with comprehensive dental care. Expert team enhancing oral health. Discover our professional services.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-syringe fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Cosmetic Surgery</h4>
                    <p class="mb-4">Enhance your beauty with cutting-edge cosmetic surgery. Transformative procedures for a rejuvenated appearance. Discover more now.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-eye fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">LASIK</h4>
                    <p class="mb-4">Experience clear vision with advanced Lasik eye surgery. Bid farewell to glasses. Explore our professional treatments.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-baby fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">IVF treatment</h4>
                    <p class="mb-4">Fulfill your dreams of parenthood with leading IVF treatments. Advanced care for successful outcomes. Learn about our services.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fas fa-flask fa-3x text-klinkx"></i>
                    </div>
                    <h4 class="mb-3">Laboratory</h4>
                    <p class="mb-4">Take control of your health with comprehensive lab tests. Accurate results for informed decisions. Explore our testing options.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-klinkx me-3"></i>Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End --> {% endcomment %}
