{% load static %}
{% block content %}
<div class="tab-pane fade" id="dhi">
  <div class="container-xxl py-5">
    <div class="container">
        <br>
        <br>
        <div class="row">
          <div class="col-6">
            <h4 class="mt-3 text-klinkx">Direct Hair Implantation (DHI)</h4>
            <p>
              DHI is a cutting-edge hair transplant technique that provides significant benefits for patients seeking natural hair restoration. The procedure involves extracting hair follicles one by one using a Choi pen, ensuring precise and accurate implantation into the recipient area. DHI offers minimal scarring, faster recovery, and natural-looking results. Patients undergo the procedure with local anesthesia, ensuring a comfortable and pain-free experience.
            </p>
            <h4 class="mt-3 text-klinkx">DHI Hair Transplant Technique</h4>
            <ul class = "list-unstyled">
              <li><i class="fas fa-check text-success me-2"></i>Variation of FUE where hair follicles are collected using a micro-motor and transplanted with a "Choi pen".</li>
              <li><i class="fas fa-check text-success me-2"></i>No scarring, bleeding, or traces of transplantation after the operation.</li>
              <li><i class="fas fa-check text-success me-2"></i>Does not require leaving grafts exposed, reducing the risk of hair root damage.</li>
              <li><i class="fas fa-check text-success me-2"></i>No incisions or stitches needed after the procedure.</li>
              <li><i class="fas fa-check text-success me-2"></i>Provides more natural-looking results as the surgeon has full control over the depth, direction, and angle of the implantation.</li>
            </ul>
            <h4 class="mt-3 text-klinkx">DHI Process</h4>
            <p>
              The DHI process consists of three main stages: consultation, extraction, and implantation. During the consultation, the surgeon will assess your hair loss condition and develop a personalized treatment plan. The extraction phase involves removing individual hair follicles from the donor area. These extracted follicles are then implanted in the recipient area using a Choi pen.
            </p>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <img class="rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/hair_transplant/dhi-2.jpg' %}" alt="">
            </div>
          </div>
        </div>

        <h4 class="mt-3 text-klinkx">Preparation and Aftercare Program</h4>
        <p>
          Before the procedure, patients are advised to avoid blood thinners, herbal teas, alcohol, and smoking to optimize the success of the transplant. After the procedure, it is essential to get plenty of rest, avoid strenuous activities, and follow specific guidelines for washing and caring for the transplant area.
        </p>
        <p>
          At KlinikX, we prioritize the well-being of our patients even after the procedure. Our comprehensive aftercare program includes continuous monitoring, follow-up appointments, and the provision of specialized aftercare products to enhance the results of the hair transplant.
        </p>


        <div class="row">
          <div class="col-6">
            <h4 class="mt-3 text-klinkx">Advantages of DHI</h4>
            <ul class = "list-unstyled">
              <li><i class="fas fa-check text-success me-2"></i>No need for incisions: Unlike FUT, DHI does not require the removal of a strip of scalp and does not leave a linear scar. This makes it a more attractive option for individuals who prefer to keep their hair short.</li>
              <li><i class="fas fa-check text-success me-2"></i>Higher graft survival rate: The direct implantation process minimizes the time hair follicles are kept outside the body, which can improve the survival rate of transplanted grafts.</li>
              <li><i class="fas fa-check text-success me-2"></i>Quicker recovery: The minimally invasive nature of DHI typically leads to a faster recovery period compared to more invasive hair transplant procedures.</li>
              <li><i class="fas fa-check text-success me-2"></i>Lower risk of infection or complications as the procedure does not involve any major surgical cuts or stitches.</li>
            </ul>
            <h4 class="mt-3 text-klinkx">Potential Risks and Costs of DHI</h4>
            <p>
              Like all surgical procedures, DHI comes with some potential risks including infection, minor bleeding, and temporary numbness in the treated areas. However, these risks can be minimized by following post-op care instructions carefully. The cost of DHI varies based on several factors including the severity of hair loss, the number of grafts required.
            </p>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <img class="rounded w-100 align-self-end d-none d-lg-block" src="{% static 'img/hair_transplant/dhi-1.jpg' %}" alt="">
            </div>
          </div>
        </div>

        <h4 class="mt-3 text-klinkx">DHI vs Other Methods</h4>
        <p>
          DHI offers several advantages over traditional methods like FUT (Follicular Unit Transplantation) and FUE (Follicular Unit Extraction). Unlike FUT, DHI does not involve removing a strip of scalp, thereby avoiding a linear scar. Compared to FUE, DHI offers greater precision as each hair follicle is implanted directly without the need for creating recipient holes beforehand. This means less trauma to the scalp, faster recovery, and more natural-looking results.
        </p>
        <p>
          Additionally, DHI can be performed under local anesthesia, reducing the risks associated with general anesthesia. However, it is important to note that the success of a hair transplant, regardless of the method used, also depends on the expertise of the surgeon and the patient's adherence to aftercare instructions.
        </p>

        <div class="row g-5">
          <div class="col-lg-12 wow fadeIn" data-wow-delay="0.5s">
            <h4 class="mt-3 text-klinkx">Frequently Asked Questions about DHI</h4>
            <div class="accordion" id="faqAccordion">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Who is a good candidate for DHI?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    Those who have healthy hair growth at the back and sides of the head to serve as donor areas can be good candidates for DHI. It can also be an ideal solution for those who wish to wear their hair short as it does not leave a linear scar.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How long does the DHI procedure take?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    The duration of the DHI procedure depends on the number of grafts required. Typically, it can take anywhere between 6 to 8 hours.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    When can I see the results of the DHI hair transplant?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                  <div class="accordion-body">
                    Initial results may be seen as early as three months after the procedure. However, full growth can take between 9 to 12 months.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

{% endblock %}